a{
  text-decoration:none;
} 
body{
  font-family: 'Quicksand', sans-serif;
  padding: 25px} 
body::before{
  content:"\00A9  linkr.bio/rayyarr";
  color:white;
  opacity:.2;
  font-size:5px;
  position:absolute;
  bottom:25px;
  left:calc(50vw - 22px);
}
#Content, #tkado{
  display:none
}
#pergeseran{
  margin-top:70px;
  opacity:0;
  visibility:hidden;transition:all 1s ease;
  display:flex;
  flex-wrap:nowrap;
  align-items:flex-start;
  justify-content:flex-start;
  position:relative;
  width:calc(100%);
  left:-20px;
  padding:0 20px; 
  overflow-y:hidden;
  overflow-x:scroll;
  scroll-behavior:smooth;
  scroll-snap-type:x mandatory;
  -ms-overflow-style:none;
  -webkit-overflow-scrolling:touch
}
#pergeseran > *{
  display:flex;
  flex-wrap:nowrap;
  text-align:center;
  font-size:13px;
  font-weight:700;
  align-items:center;
  justify-content:center;
  border-radius:4px;
  flex-shrink:0;
  width:90%; 
  min-height:80px;
  background:rgba(255, 255, 255, .95);
  color:#101010;
  margin:0 15px 0 0;
  scroll-snap-align:center
} 
#pergeseran > *:last-child{
  margin-right:0
} 
#pergeseran:after{
  content:'';
  display:block;
  flex-shrink:0; 
  align-self:stretch;
  padding-left:20px}
#tm{
  color:#FFD700;
  margin-left:6px
}
#tm:hover{
  opacity:.5;
}

.foto{
  display:block;
  text-align:center;
  width:100%;
  height:100px;
  margin-top:10px;
}
.foto > *{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:15px;
  font-weight:700;
  font-size:18px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);
  color:white
}
.foto img{
  background:#52eeff;
  border-radius:5%;
  transition:all .1s ease;
}
